global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  # OpenTelemetry Collector Metrics
  - job_name: 'otel-collector'
    scrape_interval: 5s
    static_configs:
      - targets: ['otel-collector:8889']

  # Prometheus selbst
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']