<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <log_file alias="spring.log" path="$PROJECT_DIR$/target/logs/spring.log" show_all="true" />
    <log_file alias="spring-ecs.log" path="$PROJECT_DIR$/target/logs/spring-ecs.log" show_all="true" />
    <module name="spring-with-otel" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.dboeckli.example.otel.SpringApplication" />
    <option name="VM_PARAMETERS" value="-Dotel.java.global-autoconfigure.enabled=true" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>