<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6TemplateApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <module name="spring-6-project-template" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.dboeckli.template.Spring6TemplateApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>